<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lts.dao.StudentMapper">
<!--    这种方法写的select语句比较痛苦-->
    <select id="getstudent2" resultMap="studentteacher2">
        select s.id sid,s.name sname,t.teachername tname
        from student s,teacher t
        where s.tid=t.id
    </select>

    <resultMap id="studentteacher2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
<!--        关联 多对一-->
<!--        javatype 用来指定实体类中的属性的类型-->
        <association property="tid" javaType="Teacher">
            <result property="teachername" column="tname"/>
        </association>
    </resultMap>

    <!-- ################################################################################ -->

<!--    这种是子查询的方法，比较麻烦-->
    <select id="getstudent" resultMap="studentteacher">
        select * from student
    </select>

    <resultMap id="studentteacher" type="Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="tid" column="tid" javaType="Teacher" select="getteacher"/>
    </resultMap>

    <select id="getteacher" resultType="Teacher">
        select * from teacher where id=#{id}
    </select>


</mapper>